aside {
  padding: 1.5rem;
  width: 16rem;

  gap: 2rem;
}

aside,
.aside-nav,
.menu-box>ul,
.menu-box>div {
  display: flex;
  flex-direction: column;
}

.aside-nav {
  gap: 0.75rem;

  font-size: 1.4rem;
}

.aside-nav li {
  position: relative;
}

.aside-nav a {
  color: oklch(72.3% 0.014 214.4);
  transition: color 0.2s ease;
}

.aside-nav a:hover {
  color: var(--green);
}

.aside-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 0;
  height: 2px;
  background-color: var(--green);

  transition: width 0.25s ease;
}

.aside-nav a:hover::after {
  width: 50%;
}

.nav-md {
  font-size: 1.1rem;
}

aside h1 {
  font-size: 1rem;
  font-weight: 600;
}

.menu-box {
  background-color: color-mix(in oklab, oklch(21.8% 0.008 223.9) 80%, transparent);
  border: 2px solid oklch(27.5% 0.011 216.9);
  border-radius: var(--radius-75);

  padding: 0.75rem;
}

.menu-box>ul,
.menu-box>div {
  gap: 0.75rem;
}

.menu-box a {
  color: oklch(72.3% 0.014 214.4);
  font-size: 0.9rem;
}

.menu-box a:hover {
  color: var(--green);
}

.menu-box label {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  cursor: pointer;
  font-size: 0.9rem;
}

.menu-box label:hover {
  color: var(--green);
}

.menu-box input[type="checkbox"] {
  appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid var(--green);
  border-radius: var(--radius-25);

  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.menu-box input[type="checkbox"]::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: var(--green);
  border-radius: calc(var(--radius-25)/2);

  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.menu-box input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.label-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.label-text svg {
  width: 1rem;
  height: 1rem;
  color: oklch(72.3% 0.014 214.4);
}