body {
  background-color: oklch(8% 0.008 223.9);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.login-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 1rem;
}
div img{
  display: flex;
  width: 20rem;
}
.login-box {
  background-color: color-mix(in oklab, oklch(21.8% 0.008 223.9) 80%, transparent);
  border: 2px solid oklch(27.5% 0.011 216.9);
  border-radius: var(--radius-75);
  padding: 2rem;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-box h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: 0.875rem;
  color: oklch(72.3% 0.014 214.4);
}

input {
  padding: 0.6rem;
  border-radius: var(--radius-50);
  border: 1px solid oklch(35% 0.015 216.9);
  background-color: oklch(27.5% 0.011 216.9);
  font-size: 0.95rem;
}

input:focus {
  outline: none;
  border-color: oklch(72.3% 0.219 149.579);
}

.button-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}

button,
.secondary-btn {
  flex: 1;
  padding: 0.7rem;
  border-radius: var(--radius-50);
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
}

button {
  border: none;
  background-color: oklch(72.3% 0.219 149.579);
}

button:hover {
  filter: brightness(1.1);
}

.secondary-btn {
  background-color: oklch(27.5% 0.011 216.9);
  border: 1px solid oklch(35% 0.015 216.9);
  color: oklch(72.3% 0.014 214.4);
}

.secondary-btn:hover {
  background-color: oklch(32% 0.012 216.9);
}

.back-btn {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: oklch(72.3% 0.014 214.4);
  transition: color 0.2s ease;
}

.back-btn:hover {
  color: oklch(72.3% 0.219 149.579);
}
.under-menu{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}