<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-pattern">
    <%- include('partials/header.ejs', {searchbar:true}); %>

        <div class="wrapper">
            <%- include('partials/aside.ejs'); %>
        </div>
        <%- include('partials/header.ejs', {searchbar:true}); %>

</body>

</html>