<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {page:"index", title:"Projects"}) %>

<body>

    <header class="index-header">
        <h1>Welcome to</h1>
        <img src="/images/b-hive-lg.png" alt="B-Hive logo">
    </header>

    <main class="projects-container">

        <a href="#" class="project-card unavailable">
            <img src="/images/MusicMatch.png" alt="MusicMatch project">
            <h2>MusicMatch</h2>
        </a>

        <a href="/login" class="project-card">
            <img src="/images/b-hive.png" alt="GameHub project">
            <h2>GameHub</h2>
        </a>

        <a href="#" class="project-card unavailable">
            <img src="/images/LegoMasters.png" alt="LegoMasters project">
            <h2>LegoMasters</h2>
        </a>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>