<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {page:"login", title:"Login"}) %>

<body>

    <main class="login-page">
        <div>
            <img src="/images/b-hive-lg.png" alt="">
        </div>
        <section class="login-box">

            <h1>Login</h1>

            <form action="/login" method="POST">

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Wachtwoord</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="button-group">
                    <button type="submit">Inloggen</button>
                    <a href="/register" class="secondary-btn">Create account</a>
                </div>
            </form>
        </section>
        <div class="under-menu">
            <a href="/" class="back-btn">Back to Projects</a>
            <a href="/Home" class="back-btn">Skip login</a>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>
</html>