<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/RiotGamesStatTrackerRouter.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs', {searchbar:true}); %>
    <%- include('partials/aside.ejs'); %>
    <%- include('partials/footer.ejs'); %>
</body>
</html>