<% showFilters = typeof showFilters !== "undefined" ? showFilters : false; %>

<aside>
	<ul class="aside-nav">
		<li>
			<a href="/home">Home</a>
		</li>

		<li>
			<a href="/collections">Collecties</a>
		</li>

		<li>
			<a href="/account">Account</a>
		</li>

		<li class="nav-md">
			<a href="/compare">Vergelijking</a>
		</li>

		<li class="nav-md">
			<a href="/guessing-game">Guessing game</a>
		</li>
	</ul>

	<div>
		<h1>Collecties</h1>

		<div class="menu-box">
			<ul>
				<li><a href="#">Collectie 1</a></li>
				<li><a href="#">Collectie 2</a></li>
				<li><a href="#">Collectie 3</a></li>
				<li><a href="#">Reset collecties</a></li>
			</ul>
		</div>
	</div>

	<% if (showFilters) { %>
	<div>
		<h1>Filters</h1>

		<div class="menu-box">
			<div>
				<label for="cb-collection">
					<input id="cb-collection" type="checkbox">
					Uit collectie
				</label>

				<label for="cb-not-collection">
					<input id="cb-not-collection" type="checkbox">
					Niet uit collectie
				</label>

				<label for="cb-action">
					<input id="cb-action" type="checkbox">
					<div class="label-text">
						Actie
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M288 64C305.7 64 320 78.3 320 96L320 208L256 208L256 96C256 78.3 270.3 64 288 64zM160 128C160 110.3 174.3 96 192 96C209.7 96 224 110.3 224 128L224 208L160 208L160 128zM352 128C352 110.3 366.3 96 384 96C401.7 96 416 110.3 416 128L416 224C416 241.7 401.7 256 384 256C366.3 256 352 241.7 352 224L352 128zM448 192C448 174.3 462.3 160 480 160C497.7 160 512 174.3 512 192L512 256C512 273.7 497.7 288 480 288C462.3 288 448 273.7 448 256L448 192z" />
						</svg>
					</div>
				</label>

				<label for="cb-rpg">
					<input id="cb-rpg" type="checkbox">
					<div class="label-text">
						RPG
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M288.4 55.8C308 44.7 332 44.7 351.5 55.8L543.5 164.6C563.5 176 575.9 197.2 575.9 220.3L575.9 435.9C575.9 458.9 563.5 480.2 543.5 491.6L351.5 600.4C331.9 611.5 307.9 611.5 288.4 600.4L96.4 491.5C76.4 480.1 64 458.8 64 435.8L64 220.2C64 197.2 76.4 175.9 96.4 164.5L288.4 55.8z" />
						</svg>
					</div>
				</label>

				<label for="cb-fps">
					<input id="cb-fps" type="checkbox">
					<div class="label-text">
						FPS
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M560 120C560 106.7 549.3 96 536 96C522.7 96 512 106.7 512 120L512 128L64 128C46.3 128 32 142.3 32 160L32 272C32 289.7 46.3 304 64 304L74 304C94.8 304 110.1 323.6 105 343.8L65 504.2C62.6 513.8 64.8 523.9 70.8 531.7C76.8 539.5 86.1 544 96 544L192 544C206.7 544 219.5 534 223 519.8L249 416L353.4 416C377.1 416 398.2 401.1 406.1 378.8L432.8 304L463.9 304C472.4 304 480.5 300.6 486.5 294.6L509.1 272L575.8 272C593.5 272 607.8 257.7 607.8 240L607.8 160C607.8 142.3 593.5 128 575.8 128L559.8 128L559.8 120z" />
						</svg>
					</div>
				</label>

				<label for="cb-rts">
					<input id="cb-rts" type="checkbox">
					<div class="label-text">
						RTS
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M128 96L128 197.5C128 214.5 134.7 230.8 146.7 242.8L192 288L192 448L135.8 518.3C130.7 524.6 128 532.4 128 540.5C128 560.1 143.9 576 163.5 576L476.4 576C496 576 511.9 560.1 511.9 540.5C511.9 532.4 509.2 524.6 504.1 518.3L447.9 448L447.9 288L493.2 242.7C505.2 230.7 511.9 214.4 511.9 197.4L512 96C512 78.3 497.7 64 480 64L160 64C142.3 64 128 78.3 128 96z" />
						</svg>
					</div>
				</label>

				<label for="cb-sports">
					<input id="cb-sports" type="checkbox">
					<div class="label-text">
						Sport
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64z" />
						</svg>
					</div>
				</label>

				<label for="cb-adventure">
					<input id="cb-adventure" type="checkbox">
					<div class="label-text">
						Avontuur
						<svg fill="currentColor" viewBox="0 0 640 640">
							<path d="M192 576L512 576C529.7 576 544 561.7 544 544C544 526.3 529.7 512 512 512L512 64L192 64C139 64 96 107 96 160L96 480C96 533 139 576 192 576z" />
						</svg>
					</div>
				</label>

				<a href="#">Reset filters</a>
			</div>
		</div>
	</div>
	<% } %>
</aside>