<aside>
    <ul class="aside-nav">
        <li>
            <a href="/index.html">Home</a>
        </li>
        <li>
            <a href="./night-collections-page.html">Collecties</a>
        </li>
        <li>
            <a href="">Account</a>
        </li>
        <li class="nav-md">
            <a href="./night-compare-page.html">Vergelijking</a>
        </li>
        <li class="nav-md">
            <a href="./guessing-game.html">Guessing game</a>
        </li>
    </ul>

    <div>
        <h1>Collecties</h1>
        <div class="menu-box">
            <ul>
                <li>
                    <a href="">
                        Collectie 1
                    </a>
                </li>
                <li>
                    <a href="">Collectie 2</a>
                </li>
                <li>
                    <a href="">Collectie 2</a>
                </li>
                <li>
                    <a href="">> Reset collecties</a>
                </li>
            </ul>
        </div>
    </div>
    </aside>