<aside>
      <ul>
        <li
         >
          <a href="/index.html">Home</a>
        </li>
        <li
         >
          <a href="./night-collections-page.html">Collecties</a>
        </li>
        <li
         >
          <a href="">Account</a>
        </li>
        <li
         >
          <a href="./night-compare-page.html">Vergelijking</a>
        </li>
        <li
         >
          <a href="./guessing-game.html">Guessing game</a>
        </li>
      </ul>



      <div>
        <h1>Collecties</h1>
        <div>
          <ul>
            <li>
              <a
                href="">
                Collectie 1
              </a>
            </li>
            <li>
              <a
                href="">Collectie 2</a>
            </li>
            <li>
              <a
                href="">Collectie 2</a>
            </li>
            <li>
              <a
                href="">> Reset collecties</a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <h1>Filters</h1>
        <div>
          <div>
            <label for="cb-collection">
              <input id="cb-collection" type="checkbox" />
              <div for="cb-collection"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              Uit collectie
            </label>
            <label for="cb-not-collection">
              <input id="cb-not-collection" type="checkbox" />
              <div for="cb-not-collection"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              Niet uit collectie
            </label>
            <label for="cb-action">
              <input id="cb-action" type="checkbox" />
              <div for="cb-action"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                Actie
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M288 64C305.7 64 320 78.3 320 96L320 208L256 208L256 96C256 78.3 270.3 64 288 64zM160 128C160 110.3 174.3 96 192 96C209.7 96 224 110.3 224 128L224 208L160 208L160 128zM352 128C352 110.3 366.3 96 384 96C401.7 96 416 110.3 416 128L416 224C416 241.7 401.7 256 384 256C366.3 256 352 241.7 352 224L352 128zM448 192C448 174.3 462.3 160 480 160C497.7 160 512 174.3 512 192L512 256C512 273.7 497.7 288 480 288C462.3 288 448 273.7 448 256L448 192zM352 280L352 279.4C361.4 284.8 372.3 288 384 288C397.2 288 409.4 284 419.6 277.2C428.3 302.1 452.1 320 480 320C491.7 320 502.6 316.9 512 311.4L512 320C512 372.3 486.9 418.8 448 448L448 544C448 561.7 433.7 576 416 576L256 576C238.3 576 224 561.7 224 544L224 465.6C206.7 457.7 190.8 446.8 177.1 433.1L165.5 421.5C141.5 397.5 128 364.9 128 331L128 304C128 268.7 156.7 240 192 240L280 240C302.1 240 320 257.9 320 280C320 302.1 302.1 320 280 320L224 320C215.2 320 208 327.2 208 336C208 344.8 215.2 352 224 352L280 352C319.8 352 352 319.8 352 280z" />
                </svg>
              </div>
            </label>
            <label for="cb-rpg">
              <input id="cb-rpg" type="checkbox" />
              <div for="cb-rpg"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                RPG
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M288.4 55.8C308 44.7 332 44.7 351.5 55.8L543.5 164.6C563.5 176 575.9 197.2 575.9 220.3L575.9 435.9C575.9 458.9 563.5 480.2 543.5 491.6L351.5 600.4C331.9 611.5 307.9 611.5 288.4 600.4L96.4 491.5C76.4 480.1 64 458.8 64 435.8L64 220.2C64 197.2 76.4 175.9 96.4 164.5L288.4 55.8zM340.4 129C331 113.8 309 113.8 299.6 129L223 252.7L137.6 206.4L133.8 204.8C124.9 202.1 115 205.9 110.4 214.4C105.8 222.9 108 233.3 115.1 239.2L118.4 241.5L201.8 286.7L127.2 407.3C119.3 420.2 125 437 139 442.4L300 504.3L300 544C300 555 309 564 320 564C331 564 340 555 340 544L340 504.3L501 442.4C515 437 520.7 420.2 512.8 407.4L438.1 286.8L521.5 241.6C531.2 236.3 534.8 224.2 529.6 214.5C524.4 204.8 512.2 201.2 502.5 206.4L417 252.7L340.4 129zM293.4 458.9L171.4 412L225.9 323.9L293.4 458.9zM468.6 412L346.6 458.9L414.1 323.9L468.6 412zM383.3 296L320 422.6L256.7 296L383.3 296zM372 256L267.9 256L319.9 172L371.9 256z" />
                </svg>
              </div>
            </label>
            <label for="cb-fps">
              <input id="cb-fps" type="checkbox" />
              <div for="cb-fps"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                FPS
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M560 120C560 106.7 549.3 96 536 96C522.7 96 512 106.7 512 120L512 128L64 128C46.3 128 32 142.3 32 160L32 272C32 289.7 46.3 304 64 304L74 304C94.8 304 110.1 323.6 105 343.8L65 504.2C62.6 513.8 64.8 523.9 70.8 531.7C76.8 539.5 86.1 544 96 544L192 544C206.7 544 219.5 534 223 519.8L249 416L353.4 416C377.1 416 398.2 401.1 406.1 378.8L432.8 304L463.9 304C472.4 304 480.5 300.6 486.5 294.6L509.1 272L575.8 272C593.5 272 607.8 257.7 607.8 240L607.8 160C607.8 142.3 593.5 128 575.8 128L559.8 128L559.8 120zM353.4 368L260.9 368L276.9 304L381.9 304L360.9 362.7C359.8 365.9 356.7 368 353.4 368zM112 192L496 192C504.8 192 512 199.2 512 208C512 216.8 504.8 224 496 224L112 224C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192z" />
                </svg>
              </div>
            </label>
            <label for="cb-rts">
              <input id="cb-rts" type="checkbox" />
              <div for="cb-rts"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                RTS
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M128 96L128 197.5C128 214.5 134.7 230.8 146.7 242.8L192 288L192 448L135.8 518.3C130.7 524.6 128 532.4 128 540.5C128 560.1 143.9 576 163.5 576L476.4 576C496 576 511.9 560.1 511.9 540.5C511.9 532.4 509.2 524.6 504.1 518.3L447.9 448L447.9 288L493.2 242.7C505.2 230.7 511.9 214.4 511.9 197.4L512 96C512 78.3 497.7 64 480 64L448 64C430.3 64 416 78.3 416 96L416 128L368 128L368 96C368 78.3 353.7 64 336 64L304 64C286.3 64 272 78.3 272 96L272 128L224 128L224 96C224 78.3 209.7 64 192 64L160 64C142.3 64 128 78.3 128 96z" />
                </svg>
              </div>
            </label>
            <label for="cb-sports">
              <input id="cb-sports" type="checkbox" />
              <div for="cb-sports"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                Sport
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M481.3 424.1L409.7 419.3C404.5 419 399.4 420.4 395.2 423.5C391 426.6 388 430.9 386.8 436L369.2 505.6C353.5 509.8 337 512 320 512C303 512 286.5 509.8 270.8 505.6L253.2 436C251.9 431 248.9 426.6 244.8 423.5C240.7 420.4 235.5 419 230.3 419.3L158.7 424.1C141.1 396.9 130.2 364.9 128.3 330.5L189 292.3C193.4 289.5 196.6 285.3 198.2 280.4C199.8 275.5 199.6 270.2 197.7 265.4L171 198.8C192 173.2 219.3 153 250.7 140.9L305.9 186.9C309.9 190.2 314.9 192 320 192C325.1 192 330.2 190.2 334.1 186.9L389.3 140.9C420.6 153 448 173.2 468.9 198.8L442.2 265.4C440.3 270.2 440.1 275.5 441.7 280.4C443.3 285.3 446.6 289.5 450.9 292.3L511.6 330.5C509.7 364.9 498.8 396.9 481.2 424.1zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM334.1 250.3C325.7 244.2 314.3 244.2 305.9 250.3L258 285C249.6 291.1 246.1 301.9 249.3 311.8L267.6 368.1C270.8 378 280 384.7 290.4 384.7L349.6 384.7C360 384.7 369.2 378 372.4 368.1L390.7 311.8C393.9 301.9 390.4 291.1 382 285L334.1 250.2z" />
                </svg>
              </div>
            </label>
            <label for="cb-adventure">
              <input id="cb-adventure" type="checkbox" />
              <div for="cb-adventure"
               >
                <svg fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <div>
                <span>Avontuur</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                  <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                  <path
                    d="M192 576L512 576C529.7 576 544 561.7 544 544C544 526.3 529.7 512 512 512L512 445.3C530.6 438.7 544 420.9 544 400L544 112C544 85.5 522.5 64 496 64L192 64C139 64 96 107 96 160L96 480C96 533 139 576 192 576zM160 480C160 462.3 174.3 448 192 448L448 448L448 512L192 512C174.3 512 160 497.7 160 480zM368 227.2L368 240C368 248.8 360.8 256 352 256L288 256C279.2 256 272 248.8 272 240L272 227.2C252.6 215.5 240 196.9 240 176C240 140.7 275.8 112 320 112C364.2 112 400 140.7 400 176C400 196.9 387.4 215.5 368 227.2zM304 176C304 167.2 296.8 160 288 160C279.2 160 272 167.2 272 176C272 184.8 279.2 192 288 192C296.8 192 304 184.8 304 176zM352 192C360.8 192 368 184.8 368 176C368 167.2 360.8 160 352 160C343.2 160 336 167.2 336 176C336 184.8 343.2 192 352 192zM426.2 287.7C430.8 297.8 426.3 309.6 416.3 314.2L368.4 336L416.3 357.8C426.4 362.4 430.8 374.2 426.2 384.3C421.6 394.4 409.8 398.8 399.7 394.2L320 358L240.3 394.2C230.2 398.8 218.4 394.3 213.8 384.3C209.2 374.3 213.7 362.4 223.7 357.8L271.6 336L223.7 314.2C213.6 309.6 209.2 297.8 213.8 287.7C218.4 277.6 230.2 273.2 240.3 277.8L320 314L399.7 277.8C409.8 273.2 421.6 277.7 426.2 287.7z" />
                </svg>
              </div>
            </label>
            <a
              href="">> Reset filters</a>
          </div>
        </div>
      </div>
    </aside>